name: Nightly Build

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: windows-latest
            artifact_name: rafx_release_win_amd64.zip
            cmake_args: >
              -DCMAKE_C_COMPILER=clang
              -DCMAKE_CXX_COMPILER=clang++
              -DRAFX_D3D12_SUPPORT=ON
          - os: ubuntu-latest
            artifact_name: rafx_release_linux_amd64.zip
            cmake_args: >
              -DCMAKE_BUILD_TYPE=Release
              -DCMAKE_C_COMPILER=clang
              -DCMAKE_CXX_COMPILER=clang++
              -DRAFX_USE_WAYLAND=ON
          # apple silicon
          - os: macos-latest
            artifact_name: rafx_release_macos_arm64.zip
            cmake_args: >
              -DCMAKE_BUILD_TYPE=Release
          # intel
          - os: macos-latest-large
            artifact_name: rafx_release_macos_x64.zip
            cmake_args: >
              -DCMAKE_BUILD_TYPE=Release

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # linux setup
      - name: Install Linux Dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libwayland-dev libxkbcommon-dev

      # macos setup
      - name: Setup Vulkan SDK (MacOS)
        if: runner.os == 'macOS'
        uses: humbletim/setup-vulkan-sdk@v1.2.1
        with:
          vulkan-query-version: latest
          vulkan-components: Vulkan-Headers, Vulkan-Loader
          vulkan-use-cache: true

      # windows setup
      - name: Setup MSVC (Windows)
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Configure CMake
        run: >
          cmake -S . -B build -G Ninja
          -DCMAKE_BUILD_TYPE=Release
          -DBUILD_SHARED_LIBS=ON
          -DRAFX_STATIC_SLANG=OFF
          -DCMAKE_INTERPROCEDURAL_OPTIMIZATION=ON
          ${{ matrix.cmake_args }}

      - name: Build
        run: cmake --build build --config Release

      - name: Package Release
        run: python .github/package_release.py

      - name: Upload Nightly Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: nightly
          name: Nightly Build
          files: ${{ matrix.artifact_name }}
          draft: false
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
